<h1 class="_9OKVeTXzfSwD_NYO6_G _e063bssp_1bldcJ6kR0 P2kov_od1FPjxxII24T5 marR_sCaF_d1KewmkXGX g3OYBOqwXUEW4dRGogkH cxllbI_i0oLKH8X0GJ_w leding-tight a0Ed69aMSu0vgf4oysz0">
  Address details
</h1>
<%= form_with model: Account.new, url: onboarding_path do |f| %>
  <div class="i0EfZzmTLElZVOble53D _89WWA10xzHYIL5BqOCg sSIqIYE5qzxKWSAXaiqD hAFtnIdYDiO6M_67F11P">
    <div>
      <label for="name" class="block mb-2 text-sm font-medium g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">
        Shop Name</label>
      <%= f.text_field :name, placeholder: 'Namakadai', required: true, class: 'jCHKuJ3G7rklx_LiAfbf border T_tFENbpK8DMDNjQRyQa g3OYBOqwXUEW4dRGogkH text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-2.5 _t2wg7hRcyKsNN8CSSeU _BIVSYBXQUqEf_ltPrSk _DJ2tfp6E9c_teMKVD3z a0Ed69aMSu0vgf4oysz0' %>
    </div>
    <div>
      <label for="email" class="block mb-2 text-sm font-medium g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">
        Shop email</label>
      <input type="email" name="[user]email" id="email" class="jCHKuJ3G7rklx_LiAfbf border T_tFENbpK8DMDNjQRyQa g3OYBOqwXUEW4dRGogkH text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-2.5 _t2wg7hRcyKsNN8CSSeU _BIVSYBXQUqEf_ltPrSk _DJ2tfp6E9c_teMKVD3z a0Ed69aMSu0vgf4oysz0" placeholder="name@company.com" required="">
    </div>
    <div>
      <label for="password" class="block mb-2 text-sm font-medium g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Password</label>
      <input type="password" name="[user]password" id="password" placeholder="••••••••" class="jCHKuJ3G7rklx_LiAfbf border T_tFENbpK8DMDNjQRyQa g3OYBOqwXUEW4dRGogkH text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-2.5 _t2wg7hRcyKsNN8CSSeU _BIVSYBXQUqEf_ltPrSk _DJ2tfp6E9c_teMKVD3z a0Ed69aMSu0vgf4oysz0" required="">
    </div>
    <div>
      <label for="confirm-password" class="block mb-2 text-sm font-medium g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Confirm
        password</label>
      <input type="password" name="[user]confirm-password" id="confirm-password" placeholder="••••••••" class="jCHKuJ3G7rklx_LiAfbf border T_tFENbpK8DMDNjQRyQa g3OYBOqwXUEW4dRGogkH text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-2.5 _t2wg7hRcyKsNN8CSSeU _BIVSYBXQUqEf_ltPrSk _DJ2tfp6E9c_teMKVD3z a0Ed69aMSu0vgf4oysz0" required="">
    </div>
    <div>
      <label for="phone" class="block mb-2 text-sm font-medium g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Phone</label>
      <input type="number" name="phone" id="phone-number" class="jCHKuJ3G7rklx_LiAfbf border T_tFENbpK8DMDNjQRyQa g3OYBOqwXUEW4dRGogkH text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-2.5 _t2wg7hRcyKsNN8CSSeU _BIVSYBXQUqEf_ltPrSk _DJ2tfp6E9c_teMKVD3z a0Ed69aMSu0vgf4oysz0" placeholder="+123 567 890" required="">
    </div>
    <div>
      <label for="account_type" class="block mb-2 text-sm font-medium g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Category</label>
      <%= f.select :account_type, enum_to_values(Account, 'account_types'), {}, { class: 'jCHKuJ3G7rklx_LiAfbf w-full border T_tFENbpK8DMDNjQRyQa g3OYBOqwXUEW4dRGogkH text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 block w-full p-2.5 _t2wg7hRcyKsNN8CSSeU _BIVSYBXQUqEf_ltPrSk _DJ2tfp6E9c_teMKVD3z a0Ed69aMSu0vgf4oysz0' } %>
    </div>
  </div>
  <div class="SGCI_v4dZasZ65DtKHsW __Iv72FadFpzwcpFl5_5">
    <div class="flex __9yfFbPJuEYWBMy4kA9">
      <div class="flex items-center RRXFBumaW2SHdseZaWm6">
        <input id="terms" aria-describedby="terms" type="checkbox" class="kbeH5ty3CtPKxXm5TXph eVNhx7m5tjSVbfYQzDdT border T_tFENbpK8DMDNjQRyQa YPSoR6AXtPgkmylUmcbT jCHKuJ3G7rklx_LiAfbf focus:ring-3 focus:ring-orange-300 _t2wg7hRcyKsNN8CSSeU _BIVSYBXQUqEf_ltPrSk dark:focus:ring-orange-600 apRlbPZRJ4JWA5RVdURT" required="">
      </div>
      <div class="Ljy4iPgx864jXhJbnInL text-sm">
        <label for="terms" class="XdjN1uxS_rsa3F90ox40 K1PPCJwslha8GUIvV_Cr _Rz9TooiK_4jTN_Ub8Gm">By signing up, you
          are creating a Namakadai account, and you agree to Namakadai’s
          <a class="font-medium text-orange-600 dark:text-orange-500 _5zvlMLkN1qETxEl3IhT" href="#">Terms
            of Use</a> and
          <a class="font-medium text-orange-600 dark:text-orange-500 _5zvlMLkN1qETxEl3IhT" href="#">Privacy
            Policy</a>.</label>
      </div>
    </div>
  </div>
  <div class="flex B1cgbA6Bb4LQo0qFJKck">
    <%= f.submit 'Next: Confirmation', class: 'w-full wP9HMsqy6b96l2HBRbgb bg-orange-600 hover:bg-orange-700 _FONMPVaCsLFJJGDaaIL qHIOIw8TObHgD3VvKa5x focus:ring-orange-300 font-medium rounded-lg text-sm bFARDnno0HUtfhktTXfR py-2.5 mGXBqn9OBnSR8ouIQ9lh text-center dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800' %>
  </div>
<% end %>

