<div class="flex items-center _WclR59Ji8jwfmjPtOei _BTfre_DcBxkj7buMlKq ZLpoEVbvjZ2Wkm42QsPD h8gF_NZYDOJSgLV1azfd">
  <div class="flex items-center _e063bssp_1bldcJ6kR0 LYMps1kO2vF8HBymW3az">
    <%= image_tag 'favicon.png', class: '_vZPglRSyqi4oTXg5L1_ _pwSRUXRHN5bHphyTRKz _gmxfZ2BpOHxa6nWwqBB' %>
    <span class="g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Namakadai</span>
  </div>
</div>
<ol class="flex items-center SGCI_v4dZasZ65DtKHsW text-sm font-medium text-center K1PPCJwslha8GUIvV_Cr eCx_6PNzncAD5yo7Qcic UQG9UVQJe8Lmwqvo0kfd nWoQ330QfMSjdov4_Mp8">
  <% if @onboarding_step == 1 %>
    <li class="flex items-center text-orange-600 dark:text-orange-500 _1LX2Uyqx7CIEYiCGE_q sGIVDHNQKzc6lclSOgC6 psLHZwdR61I7yzxWLatm _gmiA_Sv_1GTa5aZrwML nbqNOQO1FfgwdWrBTSeV after:border-1 JySnGRDAcpzB6CSPpOtB a7ev_RRaH8U3l_UbRogz Pvs9z5Suk1ZEW07o_5ST cPVDW_BRlw7OUJlR6COk SIey3g7Ar_bPdlKaUZ4J">
      <div class="flex items-center mVqi6z4YMC4_3WgpFYWB rZG7x6pRL_zQyNthOmJl k1QBmOP9oTrGe_eMrPuK KTQPj_H41GO13uv1i3RC XoZs09O5HhZmNOHVHPjp EXEVFd_mD6ADXzh4WAXx avlJYZmUjO2IumFtJsXS">
        <svg class="kbeH5ty3CtPKxXm5TXph eVNhx7m5tjSVbfYQzDdT _gmxfZ2BpOHxa6nWwqBB ErxvPfEi6Z6YsQPQkidi mJ_fWBhGkTBPTKzaSiSC jj5uJFFMZYV66dJMU09Y DgCgbyQiXITJ1jx5BoKY" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
        </svg>
        Shop <span class="j2x7_17hqRVmwte_tWFa XemTdEOORjzaK37r98Bt">Info</span>
      </div>
    </li>
  <% else %>
    <li class="flex items-center _65OCOFfX87s_U0LJ_A6 sGIVDHNQKzc6lclSOgC6 psLHZwdR61I7yzxWLatm _gmiA_Sv_1GTa5aZrwML nbqNOQO1FfgwdWrBTSeV after:border-1 JySnGRDAcpzB6CSPpOtB a7ev_RRaH8U3l_UbRogz Pvs9z5Suk1ZEW07o_5ST cPVDW_BRlw7OUJlR6COk SIey3g7Ar_bPdlKaUZ4J">
      <div class="flex items-center mVqi6z4YMC4_3WgpFYWB rZG7x6pRL_zQyNthOmJl k1QBmOP9oTrGe_eMrPuK KTQPj_H41GO13uv1i3RC XoZs09O5HhZmNOHVHPjp EXEVFd_mD6ADXzh4WAXx avlJYZmUjO2IumFtJsXS">
        <div class="_gmxfZ2BpOHxa6nWwqBB ErxvPfEi6Z6YsQPQkidi DgCgbyQiXITJ1jx5BoKY">1</div>
        Shop <span class="j2x7_17hqRVmwte_tWFa XemTdEOORjzaK37r98Bt">Info</span>
      </div>
    </li>
  <% end %>

  <% if @onboarding_step == 2 %>
    <li class="flex items-center text-orange-600 dark:text-orange-500 _1LX2Uyqx7CIEYiCGE_q sGIVDHNQKzc6lclSOgC6 psLHZwdR61I7yzxWLatm _gmiA_Sv_1GTa5aZrwML nbqNOQO1FfgwdWrBTSeV after:border-1 JySnGRDAcpzB6CSPpOtB a7ev_RRaH8U3l_UbRogz Pvs9z5Suk1ZEW07o_5ST cPVDW_BRlw7OUJlR6COk SIey3g7Ar_bPdlKaUZ4J">
      <div class="flex items-center mVqi6z4YMC4_3WgpFYWB rZG7x6pRL_zQyNthOmJl k1QBmOP9oTrGe_eMrPuK KTQPj_H41GO13uv1i3RC XoZs09O5HhZmNOHVHPjp EXEVFd_mD6ADXzh4WAXx avlJYZmUjO2IumFtJsXS">
        <svg class="kbeH5ty3CtPKxXm5TXph eVNhx7m5tjSVbfYQzDdT _gmxfZ2BpOHxa6nWwqBB ErxvPfEi6Z6YsQPQkidi mJ_fWBhGkTBPTKzaSiSC jj5uJFFMZYV66dJMU09Y DgCgbyQiXITJ1jx5BoKY" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
        </svg>
        User <span class="j2x7_17hqRVmwte_tWFa XemTdEOORjzaK37r98Bt">Info</span>
      </div>
    </li>
  <% else %>
    <li class="flex items-center _65OCOFfX87s_U0LJ_A6 sGIVDHNQKzc6lclSOgC6 psLHZwdR61I7yzxWLatm _gmiA_Sv_1GTa5aZrwML nbqNOQO1FfgwdWrBTSeV after:border-1 JySnGRDAcpzB6CSPpOtB a7ev_RRaH8U3l_UbRogz Pvs9z5Suk1ZEW07o_5ST cPVDW_BRlw7OUJlR6COk SIey3g7Ar_bPdlKaUZ4J">
      <div class="flex items-center mVqi6z4YMC4_3WgpFYWB rZG7x6pRL_zQyNthOmJl k1QBmOP9oTrGe_eMrPuK KTQPj_H41GO13uv1i3RC XoZs09O5HhZmNOHVHPjp EXEVFd_mD6ADXzh4WAXx avlJYZmUjO2IumFtJsXS">
        <div class="_gmxfZ2BpOHxa6nWwqBB ErxvPfEi6Z6YsQPQkidi DgCgbyQiXITJ1jx5BoKY">2</div>
        Address <span class="j2x7_17hqRVmwte_tWFa XemTdEOORjzaK37r98Bt">Info</span>
      </div>
    </li>
  <% end %>

  <% if @onboarding_step == 3 %>
    <li class="flex items-center text-orange-600 dark:text-orange-500 _1LX2Uyqx7CIEYiCGE_q sGIVDHNQKzc6lclSOgC6 psLHZwdR61I7yzxWLatm _gmiA_Sv_1GTa5aZrwML nbqNOQO1FfgwdWrBTSeV after:border-1 JySnGRDAcpzB6CSPpOtB a7ev_RRaH8U3l_UbRogz Pvs9z5Suk1ZEW07o_5ST cPVDW_BRlw7OUJlR6COk SIey3g7Ar_bPdlKaUZ4J">
      <div class="flex items-center mVqi6z4YMC4_3WgpFYWB rZG7x6pRL_zQyNthOmJl k1QBmOP9oTrGe_eMrPuK KTQPj_H41GO13uv1i3RC XoZs09O5HhZmNOHVHPjp EXEVFd_mD6ADXzh4WAXx avlJYZmUjO2IumFtJsXS">
        <svg class="kbeH5ty3CtPKxXm5TXph eVNhx7m5tjSVbfYQzDdT _gmxfZ2BpOHxa6nWwqBB ErxvPfEi6Z6YsQPQkidi mJ_fWBhGkTBPTKzaSiSC jj5uJFFMZYV66dJMU09Y DgCgbyQiXITJ1jx5BoKY" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
        </svg>
        Confirmation
      </div>
    </li>
  <% else %>
    <li class="flex items-center mVqi6z4YMC4_3WgpFYWB">
      <div class="_gmxfZ2BpOHxa6nWwqBB ErxvPfEi6Z6YsQPQkidi DgCgbyQiXITJ1jx5BoKY">3</div>
      Confirmation
    </li>
  <% end %>

</ol>
