<section class="OmM4wtdsNjVR2r7OSzsm yjGyQxv8jnYk9_MGMqLN zlFmyfujKXCLCPyPEOIS PXkJjw7zOhdtCh3e_PWh">
  <div class="s39ClfdnICIuO9QZ5YG_">
    <div class="j2x7_17hqRVmwte_tWFa jCISvWkW5oStPH6Wrb_H tnci_tQZ_0ng1kTqTwHZ jvcLLGAgg3aqFLG1QGFC fxZTOfUDTmJhXUzuvw8s czGmoDY2lMQ_0SyND3x7 bg-primary-600">
      <div class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE _BTfre_DcBxkj7buMlKq ZLpoEVbvjZ2Wkm42QsPD">
        <a href="#" class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE _e063bssp_1bldcJ6kR0 LYMps1kO2vF8HBymW3az wP9HMsqy6b96l2HBRbgb">
          <img class="_vZPglRSyqi4oTXg5L1_ _pwSRUXRHN5bHphyTRKz _gmxfZ2BpOHxa6nWwqBB" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg">
          Flowbite
        </a>
        <a href="#" class="ay0ziTPUL4Ag5d1DkSY7 neyUwteEn7DOg9pBSJJE MxG1ClE4KPrIvlL5_Q5x _A6LflweZRUwrcL6M2Tk text-primary-100 _lvH1U9a1qR55wvLD2NC">
          <svg class="nLhohPz5FpffXM9RSdFT _XD2a764x49B1E2F9f8X b7Lf_ucBvHbZEidPjF8t" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
          Go back
        </a>
      </div>
      <div class="ttxtqsLWp2pFRX8yUvWd Oa4HnWXPnlCJ_HRWuY4A wP9HMsqy6b96l2HBRbgb _Qk4_E9_iLqcHsRZZ4ge bg-primary-500">
        <h3 class="RSigS__XSy90w_LER1Bw _e063bssp_1bldcJ6kR0 LYMps1kO2vF8HBymW3az">Your selected plan</h3>
        <p class="_9OKVeTXzfSwD_NYO6_G XdjN1uxS_rsa3F90ox40 text-primary-100 MozT3ykswwrve9XfJmlm">30-day free trial</p>
        <!-- List -->
        <ul role="list" class="FLfl_xS1XCloWU2wRi87 PJD8Rj8ZmfldJGExe8Fx">
          <li class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE B1cgbA6Bb4LQo0qFJKck">
            <!-- Icon -->
            <svg class="dJBCIyiM9cLL9095_Hmw eUuXwBkW5W4__eatjSfd RRXFBumaW2SHdseZaWm6 EAasHxUKdVaGqEGmweaf" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
            <span>Individual configuration</span>
          </li>
          <li class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE B1cgbA6Bb4LQo0qFJKck">
            <!-- Icon -->
            <svg class="dJBCIyiM9cLL9095_Hmw eUuXwBkW5W4__eatjSfd RRXFBumaW2SHdseZaWm6 EAasHxUKdVaGqEGmweaf" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
            <span>No setup, or hidden fees</span>
          </li>
          <li class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE B1cgbA6Bb4LQo0qFJKck">
            <!-- Icon -->
            <svg class="dJBCIyiM9cLL9095_Hmw eUuXwBkW5W4__eatjSfd RRXFBumaW2SHdseZaWm6 EAasHxUKdVaGqEGmweaf" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
            <span>Team size: <span class="LYMps1kO2vF8HBymW3az">1 developer</span></span>
          </li>
          <li class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE B1cgbA6Bb4LQo0qFJKck">
            <!-- Icon -->
            <svg class="dJBCIyiM9cLL9095_Hmw eUuXwBkW5W4__eatjSfd RRXFBumaW2SHdseZaWm6 EAasHxUKdVaGqEGmweaf" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
            <span>Premium support: <span class="LYMps1kO2vF8HBymW3az">6 months</span></span>
          </li>
          <li class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE B1cgbA6Bb4LQo0qFJKck">
            <!-- Icon -->
            <svg class="dJBCIyiM9cLL9095_Hmw eUuXwBkW5W4__eatjSfd RRXFBumaW2SHdseZaWm6 EAasHxUKdVaGqEGmweaf" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
            <span>Free updates: <span class="LYMps1kO2vF8HBymW3az">6 months</span></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE RV8RoaI_SlEMC5CEQ3ms eGvjAhhVIxMA_HsZGxBN veFXkDzfJN473U3ycrV8 FiatbQ7XQBzLwTHkiu8Z Xjxpb8u_H96dZt4r1eF6">
      <div class="jCISvWkW5oStPH6Wrb_H">
        <div class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE _WclR59Ji8jwfmjPtOei _BTfre_DcBxkj7buMlKq ZLpoEVbvjZ2Wkm42QsPD h8gF_NZYDOJSgLV1azfd">
          <a href="#" class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE _e063bssp_1bldcJ6kR0 LYMps1kO2vF8HBymW3az">
            <img class="_vZPglRSyqi4oTXg5L1_ _pwSRUXRHN5bHphyTRKz _gmxfZ2BpOHxa6nWwqBB" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg">
            <span class="g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0">Flowbite</span>
          </a>
        </div>
        <ol class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE SGCI_v4dZasZ65DtKHsW MxG1ClE4KPrIvlL5_Q5x _A6LflweZRUwrcL6M2Tk _F_1gdhzusC6tSOWHtx_ K1PPCJwslha8GUIvV_Cr eCx_6PNzncAD5yo7Qcic UQG9UVQJe8Lmwqvo0kfd nWoQ330QfMSjdov4_Mp8">
          <li class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE text-primary-600 dark:text-primary-500 _1LX2Uyqx7CIEYiCGE_q sGIVDHNQKzc6lclSOgC6 psLHZwdR61I7yzxWLatm _gmiA_Sv_1GTa5aZrwML nbqNOQO1FfgwdWrBTSeV after:border-1 JySnGRDAcpzB6CSPpOtB a7ev_RRaH8U3l_UbRogz Pvs9z5Suk1ZEW07o_5ST cPVDW_BRlw7OUJlR6COk SIey3g7Ar_bPdlKaUZ4J">
            <div class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE mVqi6z4YMC4_3WgpFYWB rZG7x6pRL_zQyNthOmJl k1QBmOP9oTrGe_eMrPuK KTQPj_H41GO13uv1i3RC XoZs09O5HhZmNOHVHPjp EXEVFd_mD6ADXzh4WAXx avlJYZmUjO2IumFtJsXS">
              <svg class="kbeH5ty3CtPKxXm5TXph eVNhx7m5tjSVbfYQzDdT _gmxfZ2BpOHxa6nWwqBB ErxvPfEi6Z6YsQPQkidi mJ_fWBhGkTBPTKzaSiSC jj5uJFFMZYV66dJMU09Y DgCgbyQiXITJ1jx5BoKY zujhCQXfQfsYXApYjSOW" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
              Personal <span class="j2x7_17hqRVmwte_tWFa XemTdEOORjzaK37r98Bt">Info</span>
            </div>
          </li>
          <li class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE text-primary-600 dark:text-primary-500 _65OCOFfX87s_U0LJ_A6 sGIVDHNQKzc6lclSOgC6 psLHZwdR61I7yzxWLatm _gmiA_Sv_1GTa5aZrwML nbqNOQO1FfgwdWrBTSeV after:border-1 JySnGRDAcpzB6CSPpOtB a7ev_RRaH8U3l_UbRogz Pvs9z5Suk1ZEW07o_5ST cPVDW_BRlw7OUJlR6COk SIey3g7Ar_bPdlKaUZ4J">
            <div class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE mVqi6z4YMC4_3WgpFYWB rZG7x6pRL_zQyNthOmJl k1QBmOP9oTrGe_eMrPuK KTQPj_H41GO13uv1i3RC XoZs09O5HhZmNOHVHPjp EXEVFd_mD6ADXzh4WAXx avlJYZmUjO2IumFtJsXS">
              <svg class="kbeH5ty3CtPKxXm5TXph eVNhx7m5tjSVbfYQzDdT _gmxfZ2BpOHxa6nWwqBB ErxvPfEi6Z6YsQPQkidi mJ_fWBhGkTBPTKzaSiSC jj5uJFFMZYV66dJMU09Y DgCgbyQiXITJ1jx5BoKY zujhCQXfQfsYXApYjSOW" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
              Account <span class="j2x7_17hqRVmwte_tWFa XemTdEOORjzaK37r98Bt">Info</span>
            </div>
          </li>
          <li class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE text-primary-600 dark:text-primary-500">
            <div class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE mVqi6z4YMC4_3WgpFYWB">
              <svg class="kbeH5ty3CtPKxXm5TXph eVNhx7m5tjSVbfYQzDdT _gmxfZ2BpOHxa6nWwqBB ErxvPfEi6Z6YsQPQkidi mJ_fWBhGkTBPTKzaSiSC jj5uJFFMZYV66dJMU09Y DgCgbyQiXITJ1jx5BoKY zujhCQXfQfsYXApYjSOW" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
              Confirmation
            </div>
          </li>
        </ol>
        <svg class="oIyj6uBhU5BaKmBKDrV_ AATaQm5byhqNhQAf0t5v _9OKVeTXzfSwD_NYO6_G A9XHtKIdR82l_IhKw_dJ" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2.166 4.999A11.954 11.954 0 0010 1.944 11.954 11.954 0 0017.834 5c.11.65.166 1.32.166 2.001 0 5.225-3.34 9.67-8 11.317C5.34 16.67 2 12.225 2 7c0-.682.057-1.35.166-2.001zm11.541 3.708a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
        <h1 class="rD4HtsUG_hahmbh2Kj09 _e063bssp_1bldcJ6kR0 P2kov_od1FPjxxII24T5 marR_sCaF_d1KewmkXGX g3OYBOqwXUEW4dRGogkH leding-tight a0Ed69aMSu0vgf4oysz0">Verified</h1>
        <p class="_9OKVeTXzfSwD_NYO6_G XdjN1uxS_rsa3F90ox40 K1PPCJwslha8GUIvV_Cr eCx_6PNzncAD5yo7Qcic X1SJuQPYUjm4qUNX7PzP">You have successfully verified your account.</p>
        <a href="#" class="ttxtqsLWp2pFRX8yUvWd jCISvWkW5oStPH6Wrb_H wP9HMsqy6b96l2HBRbgb bg-primary-600 hover:bg-primary-700 _FONMPVaCsLFJJGDaaIL qHIOIw8TObHgD3VvKa5x focus:ring-primary-300 _A6LflweZRUwrcL6M2Tk _Qk4_E9_iLqcHsRZZ4ge MxG1ClE4KPrIvlL5_Q5x bFARDnno0HUtfhktTXfR _gKcj49wZgnwx1LpcJi6 mGXBqn9OBnSR8ouIQ9lh _F_1gdhzusC6tSOWHtx_ dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Log in to your Account</a>
      </div>
    </div>
  </div>
</section>